@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif !important;
    backdrop-filter: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #f4f4f4;
    padding-top: 70px;
    min-height: 100vh;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}